.fat_borders{
    -fx-fill: yellow;
    -fx-stroke: green;
    -fx-stroke-width: 5;
    -fx-stroke-dash-array: 12 2 4 2;
    -fx-stroke-dash-offset: 6;
}

Pane {
      -fx-background-color:
             -fx-shadow-highlight-color,
             -fx-outer-border,
             -fx-inner-border,
             -fx-body-color;
        -fx-background-insets: 0 0 -1 0, 0, 1, 2;
        -fx-background-radius: 3px, 3px, 2px, 1px;
}


.button-like {
  -fx-background-color:
       -fx-shadow-highlight-color,
       -fx-outer-border,
       -fx-inner-border,
       -fx-body-color;
  -fx-background-insets: 0 0 -1 0, 0, 1, 2;
  -fx-background-radius: 3px, 3px, 2px, 1px;
}